


.list {
    display: flex;
    width: 30rem;
    align-items: center;
    justify-content: space-between;
    margin: auto; 
    margin: 10px;
    margin-left: 30%;
    
    border-bottom: solid 0.3px rgb(102, 102, 102);
    background-color: white;
}

.primary {
    background-color: #0077b6;
    color: white;
    border: none;
    margin: 0.5em;
}

.primary:hover{
    background-color: #09689b;
}

.danger {
    background-color: #f94144;
    color: white;
    border: none;
}

.danger:hover{
    background-color: #ac1d1f;
}

.list button {
    padding: 0.5rem;
    border-radius: 3px;
}

.save-btn {
    background-color: #a0c4ff;
    height: 2.5rem;
    width: 4rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.save-btn:hover {
    background-color: #759bd8;
    transition: ease-in-out 0.2s;
}